#Усиливаем кеширование
FileETag MTime Size
<ifmodule mod_expires.c>
<filesmatch ".(jpg|gif|png|css|js)$">
ExpiresActive on
ExpiresDefault «access plus 1 year»
</filesmatch>
</ifmodule>

AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml text/javascript text/css application/x-javascript
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4.0[678] no-gzip
BrowserMatch bMSIE !no-gzip !gzip-only-text/html

#Сжимаем элементы с помощью mod_deflate
#<ifmodule mod_deflate.c="">
#<filesmatch .(js|css)$="">
#SetOutputFilter DEFLATE
#</filesmatch>
#</ifmodule>




AddDefaultCharset Utf-8

ErrorDocument 404 /404.html

#RemoveHandler .html .htm 
#AddType application/x-httpd-php5 .php .htm .html .phtml

#AddHandler application/x-httpd-php5 .php .html .shtml .htm

RemoveHandler .html .htm
AddType application/x-httpd-php .php .htm .html .phtml

