<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Cache-Control" content="no-cache" />
        <title>{{ page.title }}</title>
        {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
        <meta name="author" content="{{ site.author.name }}">
         <!-- Enable responsive viewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="assets/themes/montag/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/themes/montag/font-awesome/css/font-awesome.min.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&subset=latin,cyrillic' rel='stylesheet' type='text/css'> 

        <link rel="stylesheet" href="assets/themes/montag/css/leaflet.css" />
      <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="assets/themes/montag/css/main.css">

        
    </head>


        <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        

        <!-- Navigation & Logo-->
        <div class="mainmenu-wrapper">
          <div class="container">
            <div class="menuextras">
          <div class="extras">
            <ul class="follow">
              <li>Следуй за мной &nbsp;
              
                 <a href="http://vk.com/id31485716" target="blanck"><i class="fa  fa-vk fa-2x"></i> </a>&nbsp;
                 <a href="https://twitter.com/droboshok" target="blanck"><i class="fa fa-twitter fa-2x"></i></a>&nbsp;&nbsp;
                 <a href="https://www.facebook.com/droboshok" target="blanck"><i class="fa fa-facebook fa-2x"></i></a>
              </li>
                  
                </ul>
          </div>
            </div>
            <nav id="mainmenu" class="mainmenu">
          <ul>
            <li class="logo-wrapper"><a href="{{ BASE_PATH }}index.html"><img src="{{ BASE_PATH }}logo36.png" alt="Мнтажник-Все о гипсокартоне"></a></li>
            <li>
              <a href="price.html">Прайс</a>
            </li>
            <li>
              <a href="foto1.html">Фото</a>
            </li>
            <li>
              <a href="calc/index.php">Калькулятор</a>
              
            </li>
            <li>
              <a href="faq.html">FAQ</a>
              
            </li>
            <li class="has-submenu">
              <a href="#">Технологии +</a>
              <div class="mainmenu-submenu">
                <div class="mainmenu-submenu-inner"> 
                  <div>
                    <h4>Монтаж Гипсокартона</h4>
                    <ul>
                      <li><a href="montag1.html">Монтаж гипсокартона</a></li>
                      <li><a href="potolki.html">Потолки из гипсокартона</a></li>
                      <li><a href="desing1.html">Дизайн потолка</a></li>
                      <li><a href="stena.html">Стены из гипсокартона</a></li>
                      <li><a href="profili.html">Профиля для гипсокартона</a></li>
                      <li><a href="work.html">Работа с гипсокартоном</a></li>
                      <li><a href="paint.html">Окраска гипсокартона</a></li>
                    </ul>               
                  </div>
                  <div>
                    <h4>Свойства Гипсокартона</h4>
                    <ul>
                      <li><a href="gipsokarton.html">Гипсокартон</a></li>
                      <li><a href="svoystva.html">Свойства гипсокартона</a></li>
                      <li><a href="vid.html"> Виды гипсокартона</a></li>         
                      <li><a href="structura.html">Структура гипсокартона</a></li>
                      <li><a href="technology.html">Технологии</a></li>
                      <li><a href="histori.html">История гипсокартона</a></li>
                      <li><a href="future.html">Будущее и гипсокартон</a></li>
                    </ul>
                  </div>
                  <div>
                    <h4>Расчет гипсокартона</h4>
                    <ul>
                      <li><a href="calc/ceiling_2.php">Расчет потолка 2</a></li>
                      <li><a href="calc/partition.php">Расчет перегородок</a></li>
                      <li><a href="calc/wall.php">Расчет стен</a></li>
                    </ul>
                  </div>
                  
                </div><!-- /mainmenu-submenu-inner -->
              </div><!-- /mainmenu-submenu -->
            <li>
              <a href="about.html">О нас</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
<!-- Homepage Slider -->
        <div class="homepage-slider">
          <div id="sequence">
        <ul class="sequence-canvas">
          <!-- Slide 1 -->
          <li class="bg4">
            <!-- Slide Title -->
            <h2 class="title">Serendipity</h2>
            <!-- Slide Text -->
            <h3 class="subtitle">Красивое оформление стен и потолков!</h3>
            <!-- Slide Image -->
            <img class="slide-img" src="img/homepage-slider/slide1.jpg" alt="Slide 1" />
          </li>
          <!-- End Slide 1 -->
          <!-- Slide 2 -->
          <li class="bg3">
            <!-- Slide Title -->
            <h2 class="title">Adventure</h2>
            <!-- Slide Text -->
            <h3 class="subtitle">Сочетание света и фактуры!</h3>
            <!-- Slide Image -->
            <img class="slide-img" src="img/homepage-slider/slide2.jpg" alt="Slide 2" />
          </li>
          <!-- End Slide 2 -->
          <!-- Slide 3 -->
          <li class="bg1">
            <!-- Slide Title -->
            <h2 class="title">Nature</h2>
            <!-- Slide Text -->
            <h3 class="subtitle">Экологически чистый продукт!</h3>
            <!-- Slide Image -->
            <img class="slide-img" src="img/homepage-slider/slide3.jpg" alt="Slide 3" />
          </li>
          <!-- End Slide 3 -->
        </ul>
        <div class="sequence-pagination-wrapper">
          <ul class="sequence-pagination">
            <li>1</li>
            <li>2</li>
            <li>3</li>
          </ul>
        </div>
      </div>
        </div>
        <!-- End Homepage Slider -->

{{ content}}
      
    </div>
          <!-- Footer -->
    {% include JB/docs/footer %}
            
          </div>
            
        </div>
      </div>
    
        <!-- Javascripts -->
        <!-- // <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
        <script>window.jQuery || document.write('<script src="assets/themes/montag/js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="assets/themes/montag/js/jquery-1.9.1.min.js"></script>
        <script src="assets/themes/montag/js/bootstrap.min.js"></script>
        <!-- // <script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script> -->
        <script src="assets/themes/montag/js/jquery.fitvids.js"></script>
        <script src="assets/themes/montag/js/jquery.sequence-min.js"></script>
        <script src="assets/themes/montag/js/jquery.bxslider.js"></script>
        <script src="assets/themes/montag/js/main-menu.js"></script>
        <script src="assets/themes/montag/js/template.js"></script>

  </body>
</html>
